{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 25, "knowledge_revision": 160, "git_revision": "", "hash": "aa7b232a739fe5ba1011d7d01d5c4bdc", "format-version": 4, "code-base-name": "default", "filename": "tic_tac_toe_classic/macos/Runner/Configs/AppInfo.xcconfig", "revision_history": [{"160": ""}]}