{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 62, "knowledge_revision": 192, "git_revision": "", "hash": "9e8fd7e60341bd7e2b2b9ab6fd6e9ebd", "format-version": 4, "code-base-name": "default", "filename": "tic_tac_toe_classic/ios/Flutter/Generated.xcconfig", "revision_history": [{"192": ""}]}