{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 72, "knowledge_revision": 205, "git_revision": "", "hash": "6f0d9c05d8127a2b72203042e5a61ef6", "format-version": 4, "code-base-name": "default", "filename": "tic_tac_toe_classic/ios/Runner/Info.plist", "revision_history": [{"205": ""}]}