{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 46, "knowledge_revision": 177, "git_revision": "", "hash": "c4ff194ac73a668ae4d36cef4c0eaf51", "format-version": 4, "code-base-name": "default", "filename": "tic_tac_toe_classic/windows/runner/Runner.rc", "revision_history": [{"177": ""}]}